
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: #000;
  color: #fff;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}
